@font-face {
    font-family: 'Georgia Bold';
    src: url('/assets/fonts/georgia.ttf');
}

/*=== colors ===*/
:root {
    --grey-dark-s: #CDCDCD;
    --grey-dark-m: #B2B2B2;
    --grey-dark-l: #545454;
    --grey-dark-xl: #4C4C4C;
    --grey-dark-3xl: #292929;
    --light-grey-s: #FAFAFA;
    --primary: #F1CDB3;
    --primary-light: #FDDCC4;
    --light-xl: #FFFFFF;
    --light-l: #F6F6F6;
    }

body, :root, html {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100%;
    background: -webkit-linear-gradient(320deg, rgb(80, 63, 51) 0%, rgb(37, 35, 36) 43%, rgb(35, 33, 34) 100%);
    background: -o-linear-gradient(320deg, rgb(80, 63, 51) 0%, rgb(37, 35, 36) 43%, rgb(35, 33, 34) 100%);
    background: -moz-linear-gradient(320deg, rgb(80, 63, 51) 0%, rgb(37, 35, 36) 43%, rgb(35, 33, 34) 100%);
    background:  -webkit-linear-gradient(left,transparent,rgb(80, 63, 51) 0%,transparent);
    background-color: rgb(37, 35, 36);
}

::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*=== Heading s===*/
h1,h2,h3,h4,h5,h6, p.caption  {
    font-family: 'Georgia', sans-serif;
}
h2 {
    font-size: 2.2rem;
    color: var(--light-xl);
    line-height: 1.3;
    font-weight: 400;
    margin: 0;
}

h3 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--grey-dark-l);
    letter-spacing: 0.06em;
    margin: 0;
}

h4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: var(--grey-dark-l);
    margin: 1.25rem 0;
}

h5 {
    color: var(--grey-dark-l);
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin: 0;
}

p {
    font-size: 0.75rem;
    color: var(--grey-dark-xl);
    line-height: 1.6;
    margin: 1rem 0 0 0;
}

p.caption {
    font-size: 1rem;
    color: var(--grey-dark-l);
    letter-spacing: 0.06em;
    line-height: 23px;
    font-weight: 400;
    margin: 0;
}

p.caption2 {
    color: var(--grey-dark-m);
    font-size: 0.6rem;
    line-height: 1.5;
    font-family: 'Arial Light', sans-serif;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

/*=== buttons ===*/

nav button {
    margin-top: 0;
}
button {
    border-radius: 100px;
    margin: 2.1rem 0 0 0;
    width: auto;
    letter-spacing: 0.06em;
    font-family: 'Georgia', sans-serif;
    font-size: 0.85rem;
    padding: 15px 45px;
    cursor: pointer;
}

button.primary-contained {
    background-color: var(--primary);
    border: none;
}

button.primary-contained:hover {
    background-color: var(--primary-light);
}

button.primary-outlined {
    background: none;
    border: 2px solid;
    border-color: var(--primary);
    width: auto;
}

button.primary-outlined:hover {
    background-color: var(--primary);
    border: none;
}
   
/*=== logo ===*/
.logo {
    z-index: 200;
}
h1.logo-title {
    font-size: 1.6rem;
    font-family: 'Georgia', sans-serif;
    color: var(--primary);
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    margin: 0 0 10px 0;
    cursor: pointer;
}

h4.logo-subtitle {
    font-size: 0.65rem;
    line-height: 15px;
    letter-spacing: 0.11em;
    color: var(--light-xl);
    margin: 0;
    cursor: pointer;
}


/*=== nav ===*/

nav {
    padding: 3rem 2.1rem;
    display: flex;
}

.navbar, a:link, a:visited  {
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    color: var(--grey-dark-s);
    line-height: 1.2rem;
    text-decoration: none;
}

.navbar li  {
    margin: 0 0 0 1.75rem; 
    font-size: 0.75rem;
    line-height: 1.6;
}

.navbar li:not(.active) {
    position: relative;
    top: -1px;
}

.navbar li:hover, .navbar li:focus, li:not(.active) a:hover{
    color: var(--light-grey-s);
    cursor: pointer;
}

.navbar li.active {
    color: var(--light-grey-s);
    border-bottom: solid 3px;
    border-color: var(--primary);
}


section, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container, .container-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 4rem 2rem 5rem 2rem;
    margin: 0 8rem;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box-with-image {
    margin-right: 3rem;
    display: flex;
    justify-content: stretch;
}

.box-with-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.card {
    background: var(--light-grey-s);
    text-align: center;
    height: 435px;
    width: 270px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover > button {
    background: var(--primary);
}

/*=== section ===*/

main p {
    color: var(--grey-dark-s);
    margin: 2.1rem 2.1rem 2.1rem 0;
}

main button {
    margin: 0 14.7rem 4rem 0;
}

.container-hero {
    padding: 0;
}

.container-hero .box-with-image {
    margin-right: 2rem;
}

.container-hero .box {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

#about-the-shelter, #how-you-can-help {
    background: white;
}

#about-the-shelter .box {
    margin-left: 3.2rem;
}

#about-the-shelter .box-with-image {
    margin-left: 0.6rem;
}

#donation {
    background: var(--light-l);
}

#donation .box {
    margin: 0;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}


#donation img {
    margin-right: 15px;
    max-width: 400px;
}

#donation .container {
    padding: 4rem 6rem 5rem 6rem;
    margin: 0 0.8rem;
}

#donation h4 {
    background-color: var(--primary);
    padding: 10px 15px;
    border-radius: 9px;
}

#our-friends {
    background: var(--light-l);
    text-align: center;
}

#our-friends p.caption {
    margin: 1.4rem 0.5rem 0 0.5rem;
}

#our-friends button.primary-contained{
    width: fit-content;
    margin: 0 0 5rem 0;
}

#our-friends button.primary-outlined {
    margin: 1.5rem 0;
}

#our-friends .card {
    margin: 0 2.25rem;
}

#our-friends .container {
    padding: 0 0 3rem 0;
}

#our-friends .arrow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--primary);
    font-size: 1.1rem;
    font-weight: 400;
    background-color: transparent;
    width: auto;
    padding: 12px;
}

#our-friends .arrow-button:hover {
    background-color: var(--primary);
}

#how-you-can-help {
    padding: 4rem 2rem 2.25rem 2rem;
}

#how-you-can-help .box {
    margin: 0;
}

#how-you-can-help h3 {
    margin: 0 0 3rem 0;
    text-align: center;
}

.section-header {
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 4rem 0 3rem 0;
}
.section-header h3 {
    margin: 0;
}

.icon-feature {
    margin: 0 3rem 1.7rem 3rem;
    text-align: center;
}

/* === footer ===*/

footer .container {
    padding: 0;
    justify-content: space-between;
    margin: 3rem 0 1rem 2rem;
    align-items: flex-start;
}

.box-footer {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
}

.footer-title {
    color: var(--light-l);
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.3;
    letter-spacing: 0.06em;
    margin-bottom: 1rem;
}

footer p {
    margin: 0;
}

footer a:link, p.location1, p.location2 {
    display: inline !important;
    color: var(--primary);
    font-family: 'Georgia';
    line-height: 1.15;
    font-size: 1rem;
}

footer .icon {
    margin-right: 1rem;
    position: relative;
    top: 12px;
}

p.email, p.phone, p.location1, p.location2 {
    margin-bottom: 2rem;
}

footer  a:link, footer a:visited {
    color: var(--primary);
}

/*=== modal ===*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(41, 41, 41, 0.6);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
} 

.modal img {
    width: auto;
    padding: 1rem;
    flex: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    text-align: left;
}  

.modal-content > h3 {
    margin-top: 1rem;
}

.modal .box {
    flex: 1;
}

.modal li {
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Georgia', sans-serif;
}

.modal li b {
    font-family: 'Georgia Bold';
}

.modal ::marker {
    color: var(--primary);
    font-size: 0.8em;
  }
  

.close-button {
    position: absolute;
    top: -55px;
    left: 100%;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--primary);
    font-size: 1.7rem;
    font-weight: 400;
    background-color: transparent;
}

.close-button:hover {
    background-color: var(--primary);
} 

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} 

span.span-with-margin {
    margin-left: 2.4rem;
}

/*=== responsive navbar ===*/

.burger-menu {
    display: none;
    z-index: 100;
    background: transparent;
    border: none;
    cursor: pointer;
  }

.showMenu {
    transform: rotate(-90deg);
}

nav .navbar-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--grey-dark-3xl);
    z-index: 80;
    position: absolute;
    width: 100vw;
    height: 100vh;
}  

nav .navbar-mobile a.menuItem:link, nav .navbar-mobile a.menuItem:visited {
    margin-top: 2rem;
    font-size: 1.2rem;
}
nav .navbar-mobile li {
    margin-left: 0;
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media only screen and (max-width: 1279px) {
    nav {
        padding: 1.5rem;
    }
    .container-hero {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        align-items: center;
        margin-top: 1.5rem;
    }
    .container-hero .box {
        margin-left: 0;
    }
    main p {
        margin: 2rem;
    }
    .container-hero h2 {
        margin-left: 2rem;
    }
    .container-hero button {
        margin: 0.75rem 2rem;
        width: fit-content;
        text-align: center;
    }
    .container-hero .button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .container-hero .box-with-image {
        flex-grow: grow;
        margin: 4rem 2rem 0 4rem;
    }
    .container-hero .box-with-image img {
        width: calc(100% - 30px);
    }
    #about-the-shelter .container {
        flex-direction: column-reverse;
    }
    #about-the-shelter .box-with-image {
        margin: 4rem 0 0 0;
        display: flex;
        justify-content: center;
    }
    #about-the-shelter .box {
        margin: 0;
    }
    #our-friends .container {
       flex-wrap: wrap;
       margin: 0;
    }
    #our-friends .card {
        margin: 0 1rem 1rem 1rem;
    }
    #our-friends .card:nth-child(n+4) {
        display: none;
    }
    #our-friends button.primary-contained{
        width: auto;
    }
    .box-with-icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #how-you-can-help h4 {
        font-size: 1rem;
        text-align: center;
    }
    #donation .container {
        flex-direction: column-reverse;
    }
    footer .container {
        flex-wrap: wrap;
        justify-content: center;
        margin: 1.5rem 1.5rem 0 1.5rem;
    }
    footer .box-footer {
        margin: 0 2rem 2rem 2rem;
    }
    .modal .box{
        width: 50vw;
}

@media only screen and (max-width: 767px) {
    .modal img {
        display: none !important;
    }
    .modal-list {
        padding: 0 1em;
        text-align: left;
    }
    .modal-content h5{
        text-align: justify;
    }
    .modal-content {
        padding: 0.5rem 0;
    }
    .navbar {
        display: none;
    }
    nav {
        justify-content: space-between;
        padding: 0;
    }
    .logo {
        padding: 1rem;
    }
    .burger-menu {
        display: block;
        padding: 1rem;
    }
    .container-hero h2 {
        margin: 1rem;
    }
    .container-hero {
        justify-content: center;
    }
    .box {
        text-align: center;
        margin: 0 0.5rem;
    }
    .container-hero p {
        margin: 2rem 0;
    }
    #about-the-shelter .container {
        padding: 1rem;
    }
    #about-the-shelter h3 {
        margin: 2rem 0;
    }
    #our-friends .card:nth-child(n+3) {
        display: none;
    }
    .box-with-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .icon-feature {
        margin: 1rem 0;
    }
    #donation {
        padding: 2rem 0.5rem;
    }
    #donation .container {
        padding: 0;
        margin: 0;
    }
    #donation .box {
       align-items: center;
       padding: 0;
       margin: 0;
    }
    #donation .box-with-image {
        justify-content: center;
        width: 100vw;
    }
    #donation .box-with-image img {
        position: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        margin-right: 0;
    }
    .box-with-image {
        padding: 0;
        margin: 0;
    }
}


                                             