@font-face {
    font-family: 'Georgia Bold';
    src: url('/assets/fonts/georgia.ttf');
}

/*=== colors ===*/
:root {
    --grey-dark-s: #CDCDCD;
    --grey-dark-m: #B2B2B2;
    --grey-dark-l: #545454;
    --grey-dark-xl: #4C4C4C;
    --grey-dark-3xl: #292929;
    --light-grey-s: #FAFAFA;
    --primary: #F1CDB3;
    --primary-light: #FDDCC4;
    --light-xl: #FFFFFF;
    --light-l: #F6F6F6;
    }

body, :root, html {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--light-xl);
}

::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*=== Heading s===*/
h1,h2,h3,h4,h5,h6, p.caption  {
    font-family: 'Georgia', sans-serif;
}
h2 {
    font-size: 2.2rem;
    color: var(--light-xl);
    line-height: 1.3;
    font-weight: 400;
    margin: 0;
}

h3 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--grey-dark-l);
    letter-spacing: 0.06em;
    margin: 0;
}

h4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: var(--grey-dark-l);
    margin: 1.25rem 0;
}

h5 {
    color: var(--grey-dark-l);
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.06em;
    margin: 0;
}

p {
    font-size: 0.75rem;
    color: var(--grey-dark-xl);
    line-height: 1.6;
    margin: 1rem 0 0 0;
}

p.caption {
    font-size: 1rem;
    color: var(--grey-dark-l);
    letter-spacing: 0.06em;
    line-height: 23px;
    font-weight: 400;
    margin: 0;
}

p.caption2 {
    color: var(--grey-dark-m);
    font-size: 0.6rem;
    line-height: 1.5;
    font-family: 'Arial Light', sans-serif;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

/*=== buttons ===*/
button {
    border-radius: 100px;
    margin: 2.1rem 0 0 0;
    width: auto;
    letter-spacing: 0.06em;
    font-family: 'Georgia', sans-serif;
    font-size: 0.85rem;
    padding: 15px 45px;
    cursor: pointer;
}

button.primary-contained {
    background-color: var(--primary);
    border: none;
}

button.primary-contained:hover {
    background-color: var(--primary-light);
}

button.primary-outlined {
    background: none;
    border: 2px solid;
    border-color: var(--primary);
    width: auto;
}

button.primary-outlined:hover {
    background-color: var(--primary);
    border: none;
}

.container {
    padding: 4rem 2rem 5rem 2rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
}

.box-with-image {
    margin-right: 3rem;
    display: flex;
    justify-content: stretch;
}
   
/*=== logo ===*/
h1.logo-title {
    font-size: 1.6rem;
    font-family: 'Georgia', sans-serif;
    color: var(--grey-dark-l);
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    margin: 0 0 10px 0;
    cursor: pointer;
}

h4.logo-subtitle {
    font-size: 0.65rem;
    line-height: 15px;
    letter-spacing: 0.11em;
    color: var(--grey-dark-3xl);
    margin: 0;
    cursor: pointer;
}

/*=== nav ===*/

nav {
    padding: 1.5rem 2.1rem;
    display: flex;
}

.navbar, a:link, a:visited  {
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    color: var(--grey-dark-l);
    line-height: 1.2rem;
    text-decoration: none;
}

.navbar li  {
    margin: 0 0 0 1.75rem; 
    font-size: 0.75rem;
    line-height: 1.6;
}

.navbar li:not(.active) {
    position: relative;
    top: -1px;
}

.navbar li:hover, .navbar li:focus, li:not(.active) a:hover{
    color: var(--grey-dark-xl);
    cursor: pointer;
}

.navbar li.active {
    color: var(--grey-dark-3xl);
    border-bottom: solid 3px;
    border-color: var(--primary);
}

.card {
    background: var(--light-grey-s);
    text-align: center;
    height: 435px;
    width: 270px;
    cursor: pointer;
    margin: 0 1rem 1.5rem 1rem;
}

.card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover > button {
    background: var(--primary);
}

/* === main === */

main .container {
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

main > h3 {
    padding: 4rem 0 3rem 0;
    text-align: center;
}

main {
    background: var(--light-l);
    text-align: center;
}

main p.caption {
    margin: 1.3rem 0.5rem 0 0.5rem;
}

main button.primary-contained{
    width: 21.75%;
    margin: 0 0 5rem 0;
}

main button.primary-outlined {
    margin: 1.5rem 0;
}

/* === pagination === */
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem 0 5rem 0;
}
.icon-round {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--primary);
    font-size: 1.1rem;
    font-weight: 400;
    background-color: transparent;
    width: 52px;
    height: 52px;
    margin: 0 0.5rem;
    font-size: 1rem;
    font-family: 'Georgia', sans-serif;
}

.pagination .icon-round + .active {
    background: var(--primary);
    cursor: default;
}

.pagination > .disabled {
    color: var(--grey-dark-s);
    border-color: var(--grey-dark-s);
    cursor: default;
}

.pagination :not(.disabled) {
    cursor: pointer;
}

.pagination :not(.disabled):hover {
    background-color: var(--primary);
}

/* === footer ===*/

footer {
    background: -webkit-linear-gradient(320deg, rgb(80, 63, 51) 0%, rgb(37, 35, 36) 43%, rgb(35, 33, 34) 100%);
    background: -o-linear-gradient(320deg, rgb(80, 63, 51) 0%, rgb(37, 35, 36) 43%, rgb(35, 33, 34) 100%);
    background: -moz-linear-gradient(320deg, rgb(80, 63, 51) 0%, rgb(37, 35, 36) 43%, rgb(35, 33, 34) 100%);
    background:  -webkit-linear-gradient(left,transparent,rgb(80, 63, 51) 0%,transparent);
    background-color: rgb(37, 35, 36);
}

footer .container {
    padding: 2.5rem 2rem 0 2rem;
    justify-content: space-between;
    align-items: flex-start;
}

.box-footer {
    display: flex;
    flex-direction: column;
}

.footer-title {
    color: var(--light-l);
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.3;
    letter-spacing: 0.06em;
    margin-bottom: 1rem;
}

footer p {
    margin: 0;
}

footer a:link, p.location1, p.location2 {
    display: inline !important;
    color: var(--primary);
    font-family: 'Georgia';
    line-height: 1.15;
    font-size: 1rem;
}

footer .icon {
    margin-right: 1rem;
    position: relative;
    top: 8px;
}

p.email, p.phone, p.location1, p.location2 {
    margin-bottom: 2rem;
}

footer  a:link, footer a:visited {
    color: var(--primary);
}

/*=== modal ===*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(41, 41, 41, 0.6);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
} 

.modal img {
    width: auto;
    padding: 1rem;
    flex: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    text-align: left;
}  

.modal-content h3 {
    margin-top: 1rem;
}

.modal .box {
    flex: 1;
}

.modal li {
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Georgia', sans-serif;
}

.modal li b {
    font-family: 'Georgia Bold';
}

.modal ::marker {
    color: var(--primary);
    font-size: 0.8em;
  }
  

.close-button {
    position: absolute;
    top: -55px;
    left: 100%;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--primary);
    font-size: 1.7rem;
    font-weight: 400;
    background-color: transparent;
}

.close-button:hover {
    background-color: var(--primary);
} 

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} 

span.span-with-margin {
    margin-left: 2.4rem;
}

                                             